<div id="keyvalueintake" class="row">
  <div id="keyvalueinput" class="list-group col-md-2">
    <!-- input -->
    {{#times 10}}
      <input class="list-group-item" data-error="Invalid format"  pattern="^\w+ *= *\w+$"></input>
    {{/times}}
</div>
  <div class="btn-group-vertical col-md-2">
    <!-- control -->
    <button type="submit" class="btn btn-default" id="addbtn">Add</button>
    <button type="button" class="btn btn-default" id="removeselectedbtn">Remove Selected</button>
    <button type="button" class="btn btn-default" id="clearbtn">Clear</button>
    <a class="btn btn-default" href="/api/keyvaluestore/export/xml" download="keyvaluelist.xml">Download as XML</a>
    <a class="btn btn-default" href="/api/keyvaluestore" download="keyvaluelist.json">Download as JSON</a>
    <button type="button" class="btn btn-default" id="sortbynamebtn">Sort by Name</button>
    <button type="button" class="btn btn-default" id="sortbyvaluebtn">Sort by Value</button>
  </div>
  <div id="keyvalueoutput" class="list-group col-md-2">
    <!-- output -->
    {{#times 10}}
      <input class="list-group-item"></input>
    {{/times}}
  </div>
</div>
